body {
    background: whitesmoke;
    color: #444;
    font-size: 16px;
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, 'ＭＳ Ｐゴシック', sans-serif;
    line-height: 1.42857;
}

/* ヘッダー */

.header {
    z-index: 120;
    padding: 24px 0;
    width: 100%;
    height: auto;
    border-bottom: #ccd1d9 solid 2px;
    background: whitesmoke;
    color: #333;
    text-align: center;
    margin-top: -1vw;
}

.header-title {
    margin: 0;
    font-size: 2.4em;
}

ul{
    padding: 0;
    position: relative;
}

ul li{
    color: #2d8fdd;
    border-left: solid 6px #2d8fdd;/*左側の線*/
    background: #f1f8ff;/*背景色*/
    margin-bottom: 3px;/*下のバーとの余白*/
        line-height: 1.5;
        padding: 0.5em;
    list-style-type: none!important;/*ポチ消す*/
    width: 5%;
}
/* フッター */
.footer {
    padding: 12px 0;
    border-top: #ccd1d9 solid 1px;
    background:aliceblue;
    text-align: center;
    clear: both;
}

.footer > h{
  color: #666;
  font-size: 0.6em;
}

.footer-copyright {
    color: #999;
    font-size: 0.8em;
}